
.header {
    background-color: #092341;
    padding: 20px 0;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    width: 100%; 
    transition: top 0.3s; 
  }
  

  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  

  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  
  nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  

  .nav-links li {
    font-size: 1.1rem;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #FFB74D; 
  }
  

  .hamburger-menu {
    display: none; 
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
  
  .hamburger-menu div {
    width: 30px;
    height: 4px;
    background-color: white;
    border-radius: 5px;
  }
  

  @media (max-width: 768px) {
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
  
   
    .nav-links {
      display: none;
      width: 100%;
      background-color: #091b30;
      position: absolute;
      top: 80px;
      left: 0;
      text-align: center;
      padding: 10px 0;
    }
  
    
    .hamburger-menu {
      display: flex;
    }
  
    
    .nav-links.open {
      display: block;
    }
  
    
    .nav-links li {
      font-size: 1.3rem;
      margin: 10px 0;
    }
  
    .nav-links a:hover {
      color: #FFB74D;
    }
  }
  
 
  @media (min-width: 769px) {
   
    .nav-links {
      display: flex;
      justify-content: flex-end;
    }
  }
  